.cardHolder {
    text-align: center;
    margin: auto;
}

.card {
    color: var(--text-light);
    background-color: var(--bg-100);
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.card img {
    display: block;
    margin: auto;
    height: 64px;
}

.expandable {
    padding: 12px 0;
    display: none;
    gap: 4px
}

.expandable span::before {
    content: '-';
    margin-right: 4px;
}

.expandable.expanded {
    display: flex;
    flex-direction: column;
}

.expandableAction {
    border-radius: 16px;
    padding: 4px 8px;
}

.expandableAction:focus {
    outline: 1px solid var(--text-light);
}

.expandableAction svg {
    transition: transform 500ms;
    display: inline-block;
    margin-left: 6px;
    width: 18px;
    height: 18px;
}

.expandedAction svg {
    transform: rotateX(-180deg);
}

.expandable span:nth-child(odd) {
    color: var(--main);
}

.expandable span:nth-child(event) {
    color: var(--gray);
}

