:root {
  --gray:#A0939A;
  --green: #0FC960;
  --black:   #141D16;
  background-color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
}
