:root {
  --gray: #A0939A;
  --main: #ef9745;
  --bg-200: #142d2b;
  --bg-100:#101912;
  --text-light: #eee;
  background-color: var(--bg-200);
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: 1px auto;
}